@charset "UTF-8";

#url-ex {
	border: solid 1px black;
	padding: 10px;
	word-spacing: -5px;
}

#protocol {
	border: solid 1px orange;
}

#ip-addr {
	border: solid 1px green;
}

#port {
	border: solid 1px purple;
}

#uri {
	border: solid 1px blue;
}